/* Base */
/* Structure*/
body{
  font-family: sans-serif;
  margin: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
}
.content{

}
.flex{
  display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}
.btn{
  width: 100%;
  max-width: 300px;
  display: block;
}
.list{
  padding: 10px;
  margin: 10px;
  list-style: none;
}
.list-items{
  padding: 10px;
}
.link{
  text-decoration: none;
}
/* /.Structure*/

/* Skin */

.link-primary{
  color: green;
}
.list-primary{
  color: red;
}
/* /.Skin*/
/* /.Base */
