/* Base */
/* Structure */
*{
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  margin: 0;
}
.container{
  width: 100%;
}
.content{

}
.flex{ display: flex; }
.flex-wrap{ flex-wrap: wrap; }

.input{
  display: block;
  width: 100%;
  max-width: 300px;
  height: 50px;
  padding: 5px 10px;
  margin: 5px auto;
}
.btn{
  display: block;
  width: 100%;
  max-width: 200px;
  min-height: 40px;
  padding:  10px;
  margin: 5px auto;
  text-align: center;
  cursor: pointer;
}
.link{
  text-decoration: none;
}
.list{
  padding: 10px;
  margin: 10px;
  list-style: none;
}
.list-items{
  padding: 10px;
}

/* /.Structure */

/* Skin */
.input-sm{ font-size: 12px; }
.input-md{ font-size: 16px; }
.input-lg{ font-size: 20px; }

.btn-sm{
  font-size: 12px;
  font-weight: 300;
}
.btn-md{
  font-size: 16px;
  font-weight: 500;
}
.btn-lg{
  font-size: 20px;
  font-weight: 700;
}
.input-primary{
  border-radius: 4px;
  border: 1px solid #333;
}
.btn-primary{
  color: #787878;
  background: #ebebeb;
  border-radius: 16px;
  border: 1px solid #f9f9f9;
}
.link-primary{
  color: green;
}
.list-primary{
  color: red;
}
/* /.Skin */
/* /.Base */
