/* Base */
*{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.container-primary{
  background: linear-gradient(to top, #dbe2ef 0%, #3f72af 100%);
}
.container-secondary{
  background: linear-gradient(#3f72af 50%, #dbe2ef 50%);
}
.container-tertiary{
  background: #f9f7f7;
}
.content{
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 30px
}
.content-primary{
  background: linear-gradient(-225deg, #3f72af 50%, #f9f7f7 50%);
  border-radius: 8px;
}
.services-section{
  position: relative;
  background: #f9f7f7;
  border-radius: 4px;
  box-shadow: 3px 3px 10px #112d4e;
  margin: 20px 10px;
}
.services-section::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #112d4e;
  border-radius: 4px;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.5s;
}
.services-section:hover::before{
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform .7s;
}
.btn-secondary{
  display: block;
  width: 100%;
  max-width: 250px;
  min-height: 44px;
  background: #112d4e;
  color: #f9f7f7;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 20px;
  margin: 10px auto;
  border: none;
  border-radius: 8px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.btn-secondary:hover{
  background: #112d4e;
  color: #f9f7f7;
  text-decoration: none;
}
.input-primary{
  background: transparent;
  color: #f9f7f7;
  border: none;
  border-bottom: 1px solid #dbe2ef;
  outline: none;
  padding: 10px 0;
  margin: 0 0 30px;
}
.input-primary::placeholder{
  color: #dbe2ef;
  font-weight: 700;
}
.font-primary{
  color: #3f72af;
}
.font-secondary{
  color: #dbe2ef;
}
.font-secondary:hover{
  color: #dbe2ef;
  opacity: 0.8;
  text-decoration: none;
}
.font-tertiary{
  color: #112d4e;
}
.font-quaternary{
  color: #f9f7f7;
}
.font-black{
  color: #000;
  margin: 0;
  padding: 0;
}
.list{
  list-style: none;
}
.flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-wrap{-ms-flex-wrap: wrap; flex-wrap: wrap; }
.justify-center{-webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.justify-end{-webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }
.align-center{-webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.block {display: block; }
.maw-450{max-width: 450px; }
.maw-767{max-width: 767px; }
.maw-1024{max-width: 1024px; }
.mih-100{min-height: 100vh; }
.mg-auto{margin: 0 auto; }
.mg-0{margin: 0; }
.pd-0{padding: 0; }
.pd-10{padding: 10px; }
input,
select{
  width: 100%;
  height: 45px;
  padding: 10px;
  margin: 5px auto;
}
footer{
  width: 100%;
  background: #3f72af;
}
/* /.Base */

.navbar-brand{
  color: #dbe2ef !important;
  font-size: 25px;
  font-weight: 900;
}
.carousel,
.carousel-item,
.active{
  height: 100%;
}
.carousel-inner{
  height: 100vh;
}
.img-carousel{
  background-image: url('../img/slide.jpg');
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.carousel-caption{
  top: 30%;
  bottom: auto;
}
.carousel-caption h1{
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #dbe2ef;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.services-section .icon i{
  font-size: 40px;
  color: #112d4e;
}
.services-section:hover p,
.services-section:hover h2,
.services-section:hover .icon i{
  position: relative;
  color: #f9f7f7;
}

/* Media queries */
@media (min-width: 768px){
  .navbar.navbar-scrolled {
    background: #112d4e;
    box-shadow: 2px 0 0 #fff;
  }
  .container-services{
    margin-bottom: 242px;
  }
  footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #3f72af;
    z-index: -1;
  }
}
@media (max-width: 767px){
  .navbar{
    background: #f9f7f7;
  }
  .carousel-caption h1{
    font-size: 35px;
  }
  .carousel-caption a{
    font-size: 12px;
  }
  .navbar-brand{
    color: #3f72af !important;
  }
  .navbar-nav > li > a{
    color: #3f72af !important;
  }
}
@media (max-width: 1023px){
  .container-services{
    flex-direction: column;
  }
}
